article {
    display: flex;
    gap: 1rem;
    background-color: white;
    border-left: 10px solid white;
    border-right: 10px solid white;
    padding-top: 1rem; 
    padding-bottom: 1rem;
}

.article-img {
    width: 10rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 1rem;
}

.article-header { 
    display: flex;
    align-items: center;
    align-content: flex-start;
}

.article-country {
    letter-spacing: .3rem;
    font-weight: 500;
    margin-right: 1rem;
}

.maps-link {
    text-decoration: underline;
    color: #a0a0a0;
    cursor: pointer;
    font-size: .9rem;;
}

.marker {
    width: 40px;
}

.info-location {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: xx-large;
}

.article-info {
    margin-left: 1rem;
}

.date {
    font-weight: bolder;
}

.article-desc {
    margin-left: 1rem;
}